/* import google font- Merriwather, Inter */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Merriweather',  sans-serif;
}
/* Font style */
/* fm = font-family: 'Merriweather';*/
.fm-400{
    font-family: 'Merriweather';
    font-weight: 400;
}
.fm-900{
    font-family: 'Merriweather';
    font-weight: 900;
}
/* fi = font-family: 'Inter';*/
.fi-400{
    font-family: 'Inter';
    font-weight: 400;
}
.fi-500{
    font-family: 'Inter';
    font-weight: 500;
}
.fi-600{
    font-family: 'Inter';
    font-weight: 600;
}
.fi-700{
    font-family: 'Inter';
    font-weight: 700;
}

/* Font color
    txt = text */
.red-txt{
    color: #F00;
}
.black-txt{
    color: #070211;
}
.white-txt{
    color: #FFF;
}

/* header banner section */
.banner{
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner-Image.png');
    /* background-image: url('../resources/Banner-Image.png'); */
    border-radius: 16px;
}
.banner h5{
    font-size: 32px;
    text-align: center;
    padding-top: 177px;
}
.banner h2{
    font-size:72px;
    width: 632px;
    height: 190px;
    margin: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

   
}